.tableStyle{
	width: 1180px;
	
}

.iceRowSelSelectedMouseOver{
	color: black;
	
}

.iceRowSelSelectedMouseOver .iceOutTxt{
	color: black;
}



/* Columns Style */

.tableColumn {
   white-space: nowrap;
 }
 

.tableHeaderStyle{
	white-space: nowrap;
	vertical-align: top;
}

.alignLeftClass{
	text-align: left;
}


.alignRight{
	text-align: right;
}


.alignCenterClass{
	text-align: center;
}

.updateButtonClass{
	margin-left:40px;
}


/* Generic */

.statusColumnStyle {
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 70px;
}

.genericDateColumnStyle {
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 80px; 	
}

.creationDateColumnStyle {
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 120px; 	
}

.iceSelOneMnu{
	width: 120px;
	font-size: 12px;
	 	 
}

.iceSelOneMnu-dis{
	 color: black;
	 background-color : white;
	 font-size: 12px;
	 width: 120px;
	 	 
}

.GenericFormPanelClass{
	min-height: 580px;
	height: 580px;
	vertical-align: bottom;
}


.loginFormPanelClass{
	min-height: 650px;
	height: 650px;
	vertical-align: center;
}


/* Platform */

.platformCellStyle {
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 200px; 	
}
/* Service Template */

.serviceTemplateCellStyle{
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 130px; 	
	
}

/* Service Variant */

.serviceVariantCellStyle{
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 180px; 	
	
}

/* Platform */

.partyGroupCellStyle {
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 300px; 	
}


/* Solution */

.solutionCellStyle{
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 120px; 	
}



/* Solution Offer */

.SolutionOfferStep3TableColumn{
	 width: 120px; 	
	 text-align: center; 	
}

.offerNameStepClass{
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 text-align: left;
	 width: 270px; 
}

.solutionOfferCellStyle{
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 300px; 	
}

.discountSolutionOfferCellStyle{
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 100px; 	
}

/* Offer Detail (Package) */
.packageGroupNameClass{
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 90px; 	
}

.offerDetailTableColumn{
	 width: 120px; 
	 text-align: center;
}

/* Offer  */

.offerCellStyle {
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 180px; 	
}

.SolutionOfferStep3TableStyle{
	width: 880px;
	
}

.SolutionOfferStep6TableStyle{
	width: 1080px;
	
}

.SolutionOfferWizardHeaderStyle{
	white-space: normal;
	vertical-align: top;
	height: 30px;
}

/* Profile  */
.profileParamCell{
	width: 280px; 	
}

.profileColumnHeader{
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 120px; 	
}


.profileColumnHeader-dis{
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 width: 120px; 	
}

/* Opertations */
.operationListPanelClass{
	height: 260px;
	vertical-align: center;
}


/* Opertations */
.operationDetailPanelClass{
	height: 300px;
	vertical-align: top;
}

.operationDetailsTable{
	width: 880px;
}

.selectInputClass{
	width: 250px;
}

.resumeHeader{
	background-color:#aaaaff;
}


