body { 
	margin:0 auto;
	text-align:center;
	font-size: 9pt;
	background:#efefef;
}

a {
	text-decoration: none;
}

div#main {

  	width: 1200px;
  	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 20px;
  	text-align: left;
  	background:#ffffff;
  	-moz-box-shadow: 0 0 25px #333333;
	-webkit-box-shadow:0 0 25px #333333;
	box-shadow: 0 0 25px #333333;

}

/* HEADER ---------------------------------------------------------------- */
div#consoleLinkHeader {
	width: 100%;
	height: 20px;
	top: 0px;
	text-align: left;
	vertical-align: text-bottom;
	position: relative;
	background-color: black;
}

div#realConsoleLinkHeader {
	position:relative;
	top: 2px;
	width: 1200px;
	height: 100%;
	margin: auto;
}

div#realConsoleLinkHeader span {
	margin-left: 100px;
}

div#header {
	width: 1200px;
	height: 80px;
	top: 0px;
	text-align: left;
	vertical-align: text-bottom;
	position: relative;
	/*background-image: url('../images/blue_header.jpg');*/
}

img#logo {
	position: absolute;
	top: 0px;
	height: 56px;
	margin: 12px;
}

#appTitle {
	margin-left: auto;
	margin-right: auto;
	/*padding-top: 40px;*/
	width: 460px;
	color: black;
	font-weight: 700;
	text-align: center;
}

#userDiv{
	position: absolute;
	top: 20px;
	width: 295px;
	right: 40px; 
}

.userName{
	margin-right: 20px;
	font-weight: 900;
	float: none;
	color:#ffffff;
	background-color: #7f99ff;
}


/* CONTENT  ---------------------------------------------------------------- */

div#content {
	padding-left: 10px;
	padding-right: 10px;
	width: 1180px;
	text-align: left;
	position: relative;
	min-height: 700px;
	
}

div#appContent {
	width: 1180px;
	vertical-align: middle;
}

.breadCrumbStyle{
	padding-top: 40px;
	margin-left: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #0000cc;
	
}

.breadCrumbStyle a{
	color:  #0000cc;
	text-decoration: none;
}


/* FOOTER  ---------------------------------------------------------------- */
/* sostituito con quello di avs
div#footer {
	width: 1200px;
	height: 50px;
	margin-top: 10px;
	text-align: left;
	background-color: #aaaaaa;
	position: relative;
}

#appFooterLabel {
	position: absolute;
	left: 5px;
	bottom: 5px;
	font-size: 14px;
	color: white;
	font-weight: 800;
}
*/

/* ICEFACES ------------------------------------------------------------------ */
.iceOutTxt{
	font-size: 12px;
}
.iceOutLbl{
	font-size: 12px;
}


/* POPUP ------------------------------------------------------------------ */

.popupClass{
	position: absolute;
	top: 30%;
	left: 30%;
	height: 150px;
	width: 400px;
}

.popupMessageClass{
	white-space: pre-wrap;
	height: 150px;
	width: 380px;
}

.popupMessageDescriptionClass{
	 overflow: hidden;
	 text-overflow: ellipsis;
	 width: 350px;
}


.profilePopupClass{
	position: absolute;
	top: 30%;
	left: 30%;
	width: 1016px;
	height: 300px;
	
}
.profilePopupHeaderClass{
	width: 869px;
}
.profilePopupBodyClass{
	color: black;
	height: 200px;
	width: 350px;
}

.profilePopupBodyClass-dis{
	color: black;
	height: 200px;
	width: 350px;
}


.methodPopupClass{
	width: 550px;
	height: 400px;
	
}

.methodPopupBodyClass{
	color: black;
	height: 300px;
	width: 518px;
}

