body {
	margin: 0 auto;
	text-align: center;
	font-family: "Trebuchet MS", Verdana, serif;
	background-color: #000000;
	background-image: url("../images/bck.jpg");
	background-position: center top;
	background-repeat: repeat-x;
	position: relative;
}

/* ----- HEADER ----- */
.languageMenu {
	background-color: #507590;
	color: white;
	width: 90px;
	border: 1px solid #D9D9D9;
	margin: 2px;
	padding: 3px;
}

/* ----- MENU ----- */
.menuContainerClass {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
}

.menuBarClass .ui-menu .ui-menuitem-text {
	text-align: center;
	width: 100%;
}

.menuBarClass .ui-menu-parent .ui-menuitem-text {
	text-align: center;
	width: 90%;
}

.menuBarClass .ui-menuitem-link {
	width: 200px;
}

.menuBarClass .ui-menu-parent .ui-menu-child {
	width: 200px;
}

.menuBarClass .ui-menu-parent .ui-menu-child .ui-menuitem-text {
	text-align: left;
	width: 200px;
}

.contentSubMenu {
    border: 0 solid #CCCCCC;
    float: right;
    font-weight: bold;
    padding: 4px;
}

.avsStyle .contentSubMenu a{
	 font-size: 11px;
	 color: #666666;
}

.avsStyle .backResultButton{
	color: #666666;
	background: white;
	border: 0px;
	
}

.avsStyle button.ui-state-hover .ui-button-text{
	text-decoration: underline;
	
}

.avsStyle fieldset.partySearchFieldSet{
	border: 1px solid lightgray;
	
}



/* ----- BREADCRUMB ----- */
.breadCrumbStyle {
	padding-top: 40px;
	margin-left: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #2779AA;
}

.breadCrumbStyle a {
	color: #2779AA;
	text-decoration: none;
}


/* ----- CONTENT ----- */
#content {
	min-height: 720px;
	width: 975px;
	text-align: left;
	margin: 10px auto;
}

div#appContainer {
	vertical-align: middle;
}

.orange {
	color: #FF9900;
}

#menucolumn {
	border: 0 solid #000000;
	float: left;
	width: 18%;
	margin-left: 12px;
}

#contentcolumn {
	border: 0 solid #000000;
	margin-left: 20%;
	width: 78%;
}

.fixedHeightPanelClass {
	height: 520px;
	margin: auto;
}

.minHeightPanelClass {
	min-height: 720px;
	margin: auto;
}

.horizontalAlignClass {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alignLeftClass {
	text-align: left;
}

/* ----- FORMS ----- */
.searchBorderPanel {
	widht: auto;
	border: 1px solid #d9d9d9;
	padding: 10px;
}

.firstColumnFormClass {
	width: 130px;
	white-space: nowrap;
	text-align: left;
}


/* ----- TABLES -----*/
.avsStyle .fixedTableStyle table {
	table-layout: fixed;
}

.avsStyle .fixedTableStyle td {
	white-space: nowrap;
	color: black;
	font-size: 11px;
}

.avsStyle .normalTableStyle td {
	white-space: normal;
	color: black;
	font-size: 11px;
}

.avsStyle table.fixedTableStyle {
	table-layout: fixed;
}

.avsStyle table.wideTableStyle {
	width: 100%;
}


.avsStyle .operationsColumn {
	width: 60px;
}

.avsStyle .statusColumn {
	width: 100px;
}

.avsStyle .inlineColumnStyle div:not (.ui-helper-hidden ) {
	display: inline-block;
}

/* ----- PANELS ----- */
.avsStyle .noPaddingPanelStyle .ui-panel-content {
	padding: 0.5em 0em;
}

.avsStyle .noBorderDatagridStyle .ui-datagrid-content {
	border: none;
}

/* ----- PRIME THEME OVERRIDE ----- */
.ui-widget-content {
	background: white;
}

.avsStyle .ui-widget-content {
	border: 0px;
	background: white;
}

.avsStyle .ui-widget {
	font-size: 0.9em;
	font-family: "Trebuchet MS", Verdana, serif;
}

.avsStyle .ui-panel .ui-panel-content {
	padding: 0px;
}

.avsStyle .ui-picklist .ui-picklist-list {
	height: 150px;
	list-style-type: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	width: 300px;
	border: 1px solid #D7D7D7;
}

.avsStyle .ui-picklist .ui-picklist-list .ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
	{
	background-color: blue;
	color: #FFFFFF;
	border: 0px;
}

.avsStyle .ui-picklist .ui-picklist-caption {
	text-align: left;
}

.avsStyle .normalTableStyle table {
	
}

.avsStyle .normalTableStyle th {
	text-decoration: underline;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.avsStyle .ui-datatable th {
	background: none;
	border: none;
	text-decoration: underline;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.avsStyle .fixedTableStyle table {
	table-layout: fixed;
}

.avsStyle .fixedTableStyle td {
	white-space: nowrap;
	color: black;
	font-size: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.avsStyle .normalTableStyle td {
	white-space: normal;
	color: black;
	font-size: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}


.avsStyle .ui-datatable tr.ui-state-hover{
	border-style: solid;
    border-color: #D5EBCB;
    border-width: 0px 0px 1px 0px;
}


.avsStyle .ui-datatable tfoot td {
	background: none;
	border: 0px;
	color: #FF9900;
}

/* .avsStyle .ui-widget-header .ui-state-default {
	background: none;
} */

.avsStyle .operationsColumn {
	border: 0px;
	width: 80px;
	background: none;
}

.avsStyle .statusColumn {
	width: 100px;
}


.avsStyle .actionButton {
	color: #ffffff;
	background: #6DC8E7;
	border: 0px;
	border-radius: 0px 0px 0px 0px;
	text-shadow: none;
	font-size: 13px;
	font-weight: lighter;
	box-shadow: none;
}

.avsStyle .darkButtonSyle {
	color: white;
	background-image: url("../images/btnDataGridNo.gif");
	border-radius: 0 0 0 0;
	text-shadow: none;
	border: 0px;
	font-size: 13px;
	font-weight: lighter;
	box-shadow: none;
}

.avsStyle .ui-datatable .ui-selection-column {
	width: 35px;
}

.avsStyle .ui-datatable .ui-selection-column .ui-chkbox-all {
	width: 11px;
	height: 11px;
	background-color: #F4F4F4;
}

.avsStyle .ui-chkbox .ui-chkbox-box {
	width: 11px;
	height: 11px;
	margin: 0 auto;
	background-color: #F4F4F4;
}

.avsStyle .ui-icon-check {
	background-position: -65.5px -148px;
	width: 11px;
	height: 11px;
	background-color: #F4F4F4;
}

.avsStyle .selectionCheckBox {
	border: 0px;
	background: none;
}

#barDataGrid {
	background: url("../images/bckBarDataGrid.jpg") repeat-x scroll center
		bottom transparent;
	color: #767B78;
	font-size: 0.9em;
	font-weight: bold;
	height: 20px;
	padding: 12px 8px;
}

.barButtomOpenFilter {
	background-image: url("../images/glass-filter.gif");
	background-repeat: no-repeat;
	border: 0 solid;
	color: #000000;
	display: inline;
	margin: 0 0 0 20px;
	padding-left: 18px;
	width: 60px;
	font-size: 13px;
}

/* ----- PRIME THEME OVERRIDE ----- */

/*
.avsStyle .ui-icon {
    background-image: url("../images/ui-icons_a1ddff_256x240.png");
    height: 16px;
    width: 16px;
}

*/
.avsStyle .ui-widget-content {
	border: 0px;
	background: white;
}

.avsStyle .ui-widget {
	font-family: "Trebuchet MS", Verdana, serif;
	font-size: 9pt;
}

.ui-datatable .ui-selection-column {
	vertical-align: middle;
	text-align: center;
}

.ui-datatable .ui-datatable-data td,.ui-datatable .ui-datatable-data-empty td
	{
	border-width: 0px;
}

.avsStyle .ui-datatable-even,.avsStyle  .ui-datatable-odd {
	background: none repeat scroll 0 0 #FFFFFF;
	border-style: solid;
	border-color: #D5EBCB;
	border-width: 0px 0px 1px 0px;
	color: #4F4F4F;
}

.avsStyle .ui-datatable thead tr {
	border-style: solid;
	border-color: #D5EBCB;
	border-width: 0px 0px 1px 0px;
}

.avsStyle .ui-datatable .ui-sortable-column {
	cursor: pointer;
	vertical-align: top;
	background: none;
	text-decoration: underline;
	color: #666666;
}

.avsStyle .ui-widget-header {
	background: none; 
	border: 0px;
}

.avsStyle .ui-datatable .ui-column-filter {
	display: block;
	margin: 0px;
	width: 90%;
}

.ui-datatable .ui-paginator,.ui-datatable .ui-paginator {
	text-align: right;
}

.avsStyle .ui-paginator .ui-paginator-current,.ui-paginator .ui-paginator-rpp-options
	{
	background: none;
}

.ui-chkbox .ui-chkbox-box {
	color: black;
	background: white;
}

.avsStyle .ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
	{
	background: none repeat scroll 0 0 rgb(240, 240, 240);
	border: solid #D5EBCB;
	border-width: 0px 0px 1px 0px;
	color: #4F4F4F;
	text-shadow: none;
}

.ui-paginator .ui-paginator-page,.ui-paginator .ui-paginator-next,.ui-paginator .ui-paginator-last,.ui-paginator .ui-paginator-first,.ui-paginator .ui-paginator-prev
	{
	cursor: pointer;
	background: none;
	color: #FF9900;
	border: 0px;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
	text-decoration: underline;
}

.menuContainerClass  .ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header {
	box-shadow: none;
}

.avsStyle .ui-icon-seek-next {
	background: white;
	color: white;
	width: 18px;
	background-image: url("../images/p.arrow.2.gif");
	background-repeat: none;
}

.avsStyle .ui-icon-seek-prev {
	background: white;
	color: white;
	width: 19px;
	background-image: url("../images/p.arrow.gif");
	background-repeat: none;
}

.avsStyle .ui-datepicker {
	display: none;
	padding: 0.2em 0.2em 0;
	width: 17em;
	border-width: 1px;
	border-style: solid;
}

.avsStyle .ui-datepicker .ui-datepicker-calendar .ui-state-default {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #1C94C4;
	border: 1px solid #CCCCCC;
	font-weight: normal;
	background: url("../images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x
		scroll 50% 50% #F6F6F6;
}

.avsStyle .ui-datepicker .ui-datepicker-calendar .ui-state-hover {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #C77405;
	border: 1px solid #CCCCCC;
}

.avsStyle .ui-datepicker .ui-datepicker-current-day .ui-state-highlight,.avsStyle .ui-datepicker .ui-datepicker-current-day .ui-state-default
	{
	background: none;
	border: 1px solid #FF9900;
	color: #FF9900 !important;
	font-weight: normal;
	text-shadow: none;
}

.avsStyle .ui-datepicker .ui-datepicker-header {
	background: url("../images/ui-bg_gloss-wave_35_ff9900_500x100.png")
		repeat-x scroll 50% 50% #F6F6F6;
	padding: 0.2em 0;
	position: relative;
	border-radius: 4px;
}

.avsStyle .ui-selectonemenu-panel li.ui-state-active {
	background-color: blue;
	border: 0 none;
	color: #FFFFFF;
}

.avsStyle .ui-selectonemenu-panel li.ui-state-highlight {
	border-width: 0px;
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.4) ) repeat scroll 0 0 #85B2CB;
	background-color: #85B2CB;
	color: #1C4257;
}

.pageTitle {
	font-weight: bold;
	color: #FF9900;
	font-size: 21.6px;
}

.deviceFontTitle {
	font-size: 15px;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
	height: 29px;
}

.ui-fieldset .ui-fieldset-legend {
	background: transparent;
	border: none;
	font-size: 15px;
	color: #FF9900;
	text-align: left;
	text-decoration: none;
}

.ui-fieldset .ui-fieldset-toggler{
	margin-top: 0px;
}

.ui-fieldset-toggler .ui-icon .ui-icon-minusthick{
	background-image: ('minus');
}

.avsStyle .userDetailBorder {
	border: 0px;
	width: 760px;
	height: 500px;
}


.ui-selectonemenu{
	max-width: 165px;
	min-width: 50px;
}

.ui-inputfield{
	max-width: 165px;
}

.avsStyle .extSetBorder {
	border: 1px solid lightgray;
}

.avsStyle .extSetInner{
	margin-left: -15px;
}

.avsStyle .deviceBorder {
	border: 1px solid lightgray;
	width: 200px;
}

.avsStyle .detailBorder {
	border: 1px solid lightgray;
}

.avsStyle .selectManyMenuStyle{
	max-width: 330px !important; 
	height: 330px !important; 
	overflow:auto;  
	border: #D5EBCB solid 1px;
	min-width: 330px !important;
}
.avsStyle .selectManyMenuStyleCreateUser{
	max-width: 200px !important; 
	min-width: 200px !important;
	height:120px; 
	border: #D5EBCB solid 1px;
}

.avsStyle .ui-inputfield{
	box-shadow:none;
	border-radius: 0 0 0 0;
	border: 1px solid #D7D7D7;
    font-size: 12px;
   /*  height: 18px; */
    padding: 0px;
    line-height: 18px;
}

.avsStyle .ui-inputfield.ui-state-disabled {
	opacity: 0.7;
	color: black;
}

.avsStyle .ui-selectonemenu.ui-state-disabled {
	opacity: 0.7;
	-webkit-opacity: 1;
	background: white;
	color: black;
	border: 1px solid #FFF;
	
}



.avsStyle .ui-autocomplete{
	vertical-align: middle;
}

.avsStyle .ui-autocomplete .ui-button-icon-only{
	height: 20px;
	width: 20px;
	border-radius: 0 0 0 0;
	border: 1px solid #A8A8A8;
}

.avsStyle .ui-autocomplete .ui-button-icon-only .ui-button-text{
	padding: 0px;
	line-height: 0px;
}

.avsStyle .ui-inputfield.ui-state-focus{
	box-shadow:none;
}

.avsStyle .ui-autocomplete-panel li.ui-state-highlight{
	border-width: 0px; 
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)) repeat scroll 0 0 #85B2CB;
	background-color: #85B2CB;
    color: #FFF;   
}
.avsStyle .ui-selectonemenu {
	border-radius: 0 0 0 0;
}

.avsStyle .ui-selectonemenu .ui-inputfield{
	border: 1px solid #FFF;
	height: 19px;
    padding: 0px;
    line-height: 18px;
    margin: 0px;
    font-size: 12px;
}
.avsStyle .ui-selectonemenu-panel .ui-selectonemenu-list{
	border: 1px solid #CCCCCC;
	
    
}

.avsStyle .ui-selectonemenu .ui-selectonemenu-label {
	border: 1px solid #FFF;
	
}

.avsStyle .ui-state-disabled .ui-selectonemenu-label, .avsStyle .ui-state-disabled .ui-selectonemenu-trigger {
	border: 1px solid lightgray;
	border-radius: 0 0 0 0;
}


.avsStyle .ui-selectonemenu .ui-inputfield .ui-state-disabled {
	border: 1px solid lightgray;
	height: 19px;
    padding: 0px;
    line-height: 18px;
    margin: 0px;
    font-size: 12px;
}


.avsStyle .alignLeftClass .ui-state-focus{
	box-shadow:none;
}

.avsStyle .ui-tabs .ui-tabs-panel {
	border: 1px solid lightgray;
	min-height: 400px;
	
}

.avsStyle .ui-helper-hidden{
	border: 0px !important;
	display: none;
}

.UserDetails{
	text-align: left;
	font-size: 13px;
	white-space: nowrap;
}
.UserDetailsTitle{
	width: 110px; 
	color: black;
}
.separator{
	height: 1px;
	width: 98%;
	background-color: #A8A8A8;
}
