/*#col-1 */

.menuBarClass{
	width: 170px;
	padding: 0px;
}

.avsStyle .ui-menu .ui-widget-header h3{
	font-size: 13px;
	font-weight: normal;
	white-space: nowrap;
	padding: 0.3em 0;
}

.menuContainerClass .ui-menu .ui-menuitem-link {
	text-align: left;
	border: none;
	line-height:  11px;
	padding: 0px;
	width: 100%;
}

.avsStyle .ui-menu .ui-menuitem-text {
	text-align: left;
	font-size: 13px;
	padding: 0.3em 0;
}



.menuLeftTitleCLOSE {
	color: #FF9900;
	border-bottom: 1px solid #999;
	margin: 0 0 2px;
	background-repeat: no-repeat;
	background-position: left 5px;
}

#col-1 .menuLeftTitleCLOSE a,#col-1 .menuLeftTitleACTIVE a {
	color: #66AA44;
	text-decoration: none;
}

.avsStyle .menuLeft {
	font-size: 0.9em;
	color: #096f3e;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 160px;
}

.menuLeft a {
	color: #aFFCD00;
	text-decoration: none;
	line-height: 1.4em;
}

.menuLeft a:hover {
	color: #333333;
	text-decoration: underline;
}

#col-1 .menuLeftTitleCLOSE a,#col-1 .menuLeftTitleACTIVE a {
	color: #66AA44;
	text-decoration: none;
}

.ui-panelgrid td {
	border: none;
}

.menuLeft a:active {
	font-weight: bold;
	color: #000000;
}

.bolded {
	font-weight: bold;
}

.avsStyle .menuContainerClass .ui-widget-header {
	color: #FF9900;
	border-bottom: 1px solid #999;
	margin: 0 0 2px;
	background: none;
	border: none;
	line-height: 4px;
	font-weight: lighter;
	font-size: 1.1em;
	
}


.avsStyle .menuContainerClass .ui-state-hover {
	background: none;
}

.avsStyle .menuContainerClass .ui-state-hover .ui-menuitem-text {
	text-decoration: underline;
}

.menuContainerClass .ui-widget-header {
	line-height: 3;
}

.alignLeft{
	text-align: left;
}
.alignRight{
	text-align: right;
}