<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory >
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
		<!-- <property name="current_session_context_class">thread</property> -->
		<property name="hibernate.connection.datasource">AVSDataSource</property>
<!-- 		<property name="connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!-- 		<property name="connection.url">jdbc:mysql://192.168.7.41:3306/avs_be</property> -->
<!-- 		<property name="connection.username">AVS_BE</property> -->
<!-- 		<property name="connection.password">GRIRAxfu</property> -->
		<property name="hibernate.bytecode.use_reflection_optimizer">true</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.connection.charSet">UTF-8</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="hibernate.validator.autoregister_listeners">false</property>
	  	<mapping resource="com/accenture/ams/db/bean/Channel.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountUser.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountUserBean.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountAttribute.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountProduct.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountProductBean.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountPromo.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountTechnicalPkg.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/Product.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AttributeDetail.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/Promo.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/VoucherPromo.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/CommercialCategory.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/RelPackageCommCat.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/RefTechnicalPackage.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/TechnicalPackage.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/ChannelTechnicalPkg.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/RelContentTechnical.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/TeckPkgType.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/ChannelPlatform.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/Platform.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccContentAttr.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/StatusType.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/LiveContent.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/Favourite.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/Category.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/CategoryAggregation.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountContent.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/Profile.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/RelContentExtRat.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/RelLiveContentExtrat.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/PcExtendedRating.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/PcLevel.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountAttributeProfile.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountTechnicalPkgProfile.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AttributeDetailProfile.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/TechnicalPackageProfile.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/DeviceIdType.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/RetailerDomain.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountDeviceAMS.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/PromoOffer.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/CrmAccount.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/CountryLangCode.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/TechnicalPackageAttribute.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/PurchaseTransactionType.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/PurchaseTransaction.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/Content.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/ContentExtension.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/LivePPV.hbm.xml"/>
	  	<mapping resource="com/accenture/ams/db/bean/AccountPPV.hbm.xml" />
	  	<mapping resource="com/accenture/ams/db/bean/SdpVoucherView.hbm.xml" />
	  	<mapping resource="com/accenture/ams/db/bean/RefCurrencyTypeView.hbm.xml" />
 	</session-factory>
</hibernate-configuration>
