<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- APPENDER ASINC FOR LOG ACCESS -->

<!--  	<appender name="AsyncLogin" class="org.apache.log4j.AsyncAppender">  -->
<!--  		<appender-ref ref="RemoteAsyncLogin" />  -->
<!--  	</appender>  -->


<!-- 	<appender name="RemoteAsyncLogin" class="org.apache.log4j.net.TcpSyslogAppender"> -->
<!-- 		<param name="syslogHost" value="192.168.7.130:10002" /> -->
<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="ConversionPattern" value="- %m%n" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->

	<!-- APPENDER ASYNC FOR JOIN ACCESS -->

<!-- 	<appender name="AsyncJoin" class="org.apache.log4j.AsyncAppender"> -->
<!-- 		<appender-ref ref="RemoteAsyncJoin" /> -->
<!-- 	</appender> -->


<!-- 	<appender name="RemoteAsyncJoin" class="org.apache.log4j.net.TcpSyslogAppender"> -->
<!-- 		<param name="syslogHost" value="192.168.7.211:10003" /> -->
<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="ConversionPattern" value="- %m%n" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->

	<!-- APPENDER ASINC FOR LOG Purchase -->

<!-- 	<appender name="AsyncPurchase" class="org.apache.log4j.AsyncAppender"> -->
<!-- 		<appender-ref ref="RemoteAsyncPurchase" /> -->
<!-- 	</appender> -->


<!-- 	<appender name="RemoteAsyncPurchase" class="org.apache.log4j.net.TcpSyslogAppender"> -->
<!-- 		<param name="syslogHost" value="192.168.7.211:10000" /> -->
<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="ConversionPattern" value="- %m%n" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->

	<!-- APPENDER ASINC FOR LOG Watching -->

<!-- 	<appender name="AsyncWatching" class="org.apache.log4j.AsyncAppender"> -->
<!-- 		<appender-ref ref="RemoteAsyncWatching" /> -->
<!-- 	</appender> -->

<!-- 	<appender name="RemoteAsyncWatching" class="org.apache.log4j.net.TcpSyslogAppender"> -->
<!-- 		<param name="syslogHost" value="192.168.7.211:10001" /> -->
<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="ConversionPattern" value="- %m%n" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->


	<!-- APPENDER ASINCRONO PER LOG WATCHING -->
	<appender name="LocalSyncWatching" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="../standalone/log/WATCHING.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<!-- APPENDER SINC FOR LOG ACCESS -->
	<appender name="LocalSyncLogin" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="../standalone/log/LOGIN.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<!-- APPENDER SYNC FOR JOIN LOG ACCESS -->
	<appender name="LocalSyncJoin" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="../standalone/log/JOIN.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<!-- APPENDER SINC FOR LOG PURCHASE -->
	<appender name="LocalSyncPurchase" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="../standalone/log/PURCHASE.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<appender name="LocalSyncPurchaseStatus" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="../standalone/log/PURCHASE_STATUS.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMddHHmmssSSS} :%m%n" />
		</layout>
	</appender>
  <appender name="LocalSyncUserConcurrentStream" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
      <param name="File" value="../standalone/log/concurrentStream.log" />
      <param name="Append" value="true" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{yyyyMMddHHmmssSSS} :%m%n" />
      </layout>
  </appender>

	<appender name="Application" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="../standalone/log/portalAVSBE.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="TENANT_ID: %X{TenantId} | %d{yyyyMMddHHmmssSSS} |%-X{defaultLog} %p %c - %m%n" />
		</layout>
	</appender>

	<appender name="CheckConnection" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<param name="File" value="../standalone/log/cc.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMddHHmmss} %p %t %c - %m%n" />
		</layout>
	</appender>

	<logger name="watching" additivity="false">
		<level value="info" />
<!-- 		<appender-ref ref="AsyncWatching" /> -->
		<appender-ref ref="LocalSyncWatching" />

	</logger>
	<logger name="login" additivity="false">
		<level value="info" />
<!-- 		<appender-ref ref="AsyncLogin" /> -->
		<appender-ref ref="LocalSyncLogin" />

	</logger>
	<logger name="join" additivity="false">
		<level value="info" />
<!-- 		<appender-ref ref="AsyncJoin" /> -->
		<appender-ref ref="LocalSyncJoin" />

	</logger>
	<logger name="purchase" additivity="false">
		<level value="info" />
<!-- 		<appender-ref ref="AsyncPurchase" /> -->
		<appender-ref ref="LocalSyncPurchase" />

	</logger>
	
	<logger name="purchaseStatus" additivity="false">
		<level value="info" />
<!-- 		<appender-ref ref="AsyncPurchase" /> -->
		<appender-ref ref="LocalSyncPurchaseStatus" />
	</logger>
	
	
	<logger name="checkconnection" additivity="false">
		<level value="info" />
		<appender-ref ref="CheckConnection" />
	</logger>
	<logger name="com.accenture.avs" additivity="false">
		<level value="debug" />
		<appender-ref ref="Application" />
	</logger>
	
 <logger name="UserConcurrentStream" additivity="false">
	 	<level value="info" />
		 <appender-ref ref="LocalSyncUserConcurrentStream" />
</logger>
</log4j:configuration>
