<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SDP_CSM_FE</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>StartupServlet</display-name>
		<servlet-name>StartupServlet</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.servlets.StartupServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartupServlet</servlet-name>
		<url-pattern>/StartupServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SdpTokenManagerServlet</display-name>
		<servlet-name>SdpTokenManagerServlet</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.servlets.SdpTokenManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpTokenManagerServlet</servlet-name>
		<url-pattern>/SdpTokenManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ConstantsServlet</display-name>
		<servlet-name>ConstantsServlet</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.servlets.ConstantsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConstantsServlet</servlet-name>
		<url-pattern>/reloadConstants</url-pattern>
	</servlet-mapping>


	<!-- WS MAPPING FOR JBOSS AS6 -->
	<servlet>
		<servlet-name>SdpAsynchronousFlowsService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpAsynchronousFlowsService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpAsynchronousFlowsService</servlet-name>
		<url-pattern>/SdpAsynchronousFlowsService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SdpAccountService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpAccountService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpAccountService</servlet-name>
		<url-pattern>/SdpAccountService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpCredentialService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpCredentialService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpCredentialService</servlet-name>
		<url-pattern>/SdpCredentialService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RefCurrencyTypeService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.RefCurrencyTypeService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefCurrencyTypeService</servlet-name>
		<url-pattern>/RefCurrencyTypeService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RefFrequencyTypeService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.RefFrequencyTypeService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefFrequencyTypeService</servlet-name>
		<url-pattern>/RefFrequencyTypeService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpOfferService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpOfferService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpOfferService</servlet-name>
		<url-pattern>/SdpOfferService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpOfferGroupService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpOfferGroupService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpOfferGroupService</servlet-name>
		<url-pattern>/SdpOfferGroupService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpOperatorsService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpOperatorsService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpOperatorsService</servlet-name>
		<url-pattern>/SdpOperatorsService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpPackagePriceService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpPackagePriceService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpPackagePriceService</servlet-name>
		<url-pattern>/SdpPackagePriceService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpPackageService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpPackageService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpPackageService</servlet-name>
		<url-pattern>/SdpPackageService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpPartyService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpPartyService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpPartyService</servlet-name>
		<url-pattern>/SdpPartyService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpPartyGroupService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpPartyGroupService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpPartyGroupService</servlet-name>
		<url-pattern>/SdpPartyGroupService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpPlatformService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpPlatformService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpPlatformService</servlet-name>
		<url-pattern>/SdpPlatformService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpPriceCatalogService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpPriceCatalogService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpPriceCatalogService</servlet-name>
		<url-pattern>/SdpPriceCatalogService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpRoleService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpRoleService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpRoleService</servlet-name>
		<url-pattern>/SdpRoleService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpServiceTemplateService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpServiceTemplateService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpServiceTemplateService</servlet-name>
		<url-pattern>/SdpServiceTemplateService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpServiceTypeService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpServiceTypeService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpServiceTypeService</servlet-name>
		<url-pattern>/SdpServiceTypeService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpServiceVariantService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpServiceVariantService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpServiceVariantService</servlet-name>
		<url-pattern>/SdpServiceVariantService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpServiceVariantOperationsService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpServiceVariantOperationsService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpServiceVariantOperationsService</servlet-name>
		<url-pattern>/SdpServiceVariantOperationsService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpSiteService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpSiteService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpSiteService</servlet-name>
		<url-pattern>/SdpSiteService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpSolutionService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpSolutionService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpSolutionService</servlet-name>
		<url-pattern>/SdpSolutionService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpSolutionOfferService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpSolutionOfferService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpSolutionOfferService</servlet-name>
		<url-pattern>/SdpSolutionOfferService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpSolutionTypeService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpSolutionTypeService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpSolutionTypeService</servlet-name>
		<url-pattern>/SdpSolutionTypeService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RefStatusTypeService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.RefStatusTypeService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefStatusTypeService</servlet-name>
		<url-pattern>/RefStatusTypeService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SdpSubscriptionService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpSubscriptionService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpSubscriptionService</servlet-name>
		<url-pattern>/SdpSubscriptionService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SdpVoucherService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpVoucherService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpVoucherService</servlet-name>
		<url-pattern>/SdpVoucherService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AvsService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.AvsService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AvsService</servlet-name>
		<url-pattern>/AvsService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SdpDeviceService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpDeviceService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpDeviceService</servlet-name>
		<url-pattern>/SdpDeviceService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SdpDeviceAccessService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpDeviceAccessService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpDeviceAccessService</servlet-name>
		<url-pattern>/SdpDeviceAccessService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SdpDeviceBrandService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpDeviceBrandService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpDeviceBrandService</servlet-name>
		<url-pattern>/SdpDeviceBrandService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SdpDevicePolicyService</servlet-name>
		<servlet-class>com.accenture.sdp.csmfe.webservices.services.SdpDevicePolicyService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SdpDevicePolicyService</servlet-name>
		<url-pattern>/SdpDevicePolicyService</url-pattern>
	</servlet-mapping>
	
	
	<!-- *** RESTEASY CONFIGURATION  *************************************** -->
	
	<!-- Auto scan REST service -->
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
 
	<!-- this need same with resteasy servlet url-pattern -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest</param-value>
	</context-param>
 
	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener>
 
	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>